<div class="jumbotron">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Cars</h1>
            <button type="button" routerLink="/car/register" class="btn btn-dark"
            tooltip="Add a car."
            [adaptivePosition]="true"
            placement="left"><i class="fas fa-car-side"></i></button>
        </div>
    </div>
</div>

<div class="container">
    <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item list-group-item-action" *ngFor="let car of returnedArray">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 flex-grow-1" style="cursor: pointer;" [routerLink]="['/car/detail', car.id]">
                    {{car.model}} / {{car.year}} / {{car.color}}</h5>
                <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="showDeleteModal(car.id)"
                        tooltip="Remove a car."
                        [adaptivePosition]="true"
                        placement="top"><i
                        class="fas"
                        [ngClass]="{'fa-trash-alt': isLoadingResults == false, 'fa-sync faa-spin animated': isLoadingResults}"></i></button>
                <button type="button" class="btn btn-info btn-sm" 
                        [routerLink]="['/car/edit', car.id]"
                        tooltip="Edit a car."
                        [adaptivePosition]="true"
                        placement="top"><i class="fas"
                        [ngClass]="{'fa-edit': isLoadingResults == false, 'fa-sync faa-spin animated': isLoadingResults}"></i></button>
            </div>
            <p class="h1 font-weight-bold mb-1">{{car.licensePlate}}</p>
            <small><strong>Amount use</strong> {{car.amountUse}}</small>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex w-100 flex-row-reverse">
                <div class="container" *ngIf="contentArray.length > itemsPerPage">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex w-100 flex-row-reverse" [ngClass]="{'disabledDiv': isLoadingResults}">
                                <pagination [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
                                    [boundaryLinks]="true" [totalItems]="contentArray.length" [maxSize]="5"
                                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                                    (pageChanged)="pageChanged($event)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>